@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body{
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 25px;
    margin: 2rem 0 0 0;
}

.heading{
    padding: 0;
}

.container1{
    width: 438px;
    margin: 1.5rem auto 8px;
    padding: 0;
}

.theme{
    text-align: end;
    margin-top: 39px;
    font-size: 12px;
}

.switch{
    height: 20px;
    width: 70px;
    border-radius: 20px;
    margin-left: 28px;
}

.switch-mode{
    margin-top: 14px;
}

.switch-mode p{
    margin: 0 0 0 8px;
    letter-spacing: 5px;
    text-align: center;
    margin-left: 23px;
}

.circle{
    width: 15px;
    height: 15px;
    text-align: start;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-bottom: 4.5px;
    margin-left: 6px;
    border: none;
}

.container2{
    padding: 1% 1%;
    width: 438px;
    margin: 0 auto 1rem;
    height: 6rem;
    border-radius: 7px;
}

.screen{
    text-align: end;
    padding: 1.5% 6%;
    font-size: 42px;
}

.container3{
    padding: 1% 1%;
    width: 438px;
    height: 342px;
    border-radius: 7px;
}

.row{
    margin-left: 0.5rem;
}

.keys{
    padding: 2% 0;
    font-size: 30px;
    text-align: center;
    margin: 8% 0;
    width: 80%;
    height: 2.8rem;
    border-radius: 7px;
    box-shadow: 0 3px;
    border: none;
}

.col-lg-3,.col-lg-6{
    padding: 0;
}

.del-btn{
    border: none;
}

.reset-btn,.equal-btn{
    width: 90%;
    border: none;
}

@media(min-width: 415px) and (max-width: 477px){
    .container1{
        width: 380px;
    }

    .switch{
        margin-left: 14px;
    }

    .switch-mode p{
        margin-left: 0;
    }

    .theme{
        text-align: end;
    }

    .screen{
        padding-top: 4.6%;
        padding-right: 8%;
    }

    .container2{
        width: 380px;
    }
    
    .container3{
        width: 380px; 
        height: 320px;  
    }
}

@media (max-width: 414px){
    .container1{
        width: 320px;
    }

    .switch{
        margin-left: -1px;
    }

    .switch-mode p{
        margin-left: -3px;
    }

    .theme{
        text-align: center;
    }

    .screen{
        padding-top: 5%;
        padding-right: 8%;
    }

    .container2{
        width: 320px;
    }
    
    .container3{
        width: 320px; 
        height: 304px;  
    }
}
